.blog {
	.card-content {
		height: 300px !important;
	}

	h1 {
		margin: 0 0 10px 0;
		text-transform: uppercase;
		font-size: 1.5rem;
	}

	p {
		color: $genericColor !important;
	}

	img {
		transition: transform 600ms linear;
	}

	.card:hover img {
		transform: scale(1.2);
		transition: transform 600ms linear;
	}
}
