.title {
	font-family: $oswald;

	&--small {
		font-size: 2rem;
		font-weight: 400;
	}

	&--medium {
		font-size: 4rem;
		font-weight: 700;
	}

	&--large {
		font-size: 6rem;
		font-weight: 900;
	}
}
