<div class="nav">

	<div class="nav__top-nav">
		<div class="menu-icon">
			<span class="middle"></span>
		</div>
	</div>

	<div class="nav__user-box">
		<div class="nav__user-info">
			<img src="/assets/images/sm-profile.jpg" alt="">
			<h1 class="title">Hasrat Sabit</h1>
			<h2 class="title">Full Stack Developer</h2>
		</div>
	</div>

	<div class="nav__side-nav">

		<div class="navbar">
			<ul class="admin">
				<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class=" material-icons">dashboard</i>Dashboard</a></li>
				<li class="drop-link"><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">library_books</i>Posts <i class="material-icons arrow">keyboard_arrow_right</i></a>
					<ul class="sub-links drop-content">
						<li><a href="/blog/post-blog">Add Blog</a></li>
						<li><a href="/blog/view-all-blogs">View All Blog</a></li>
					</ul>
				</li>
				<li class="drop-link"><a href="#" class="collapsible-header waves-effect waves-cyan"><i class="material-icons">supervisor_account</i>Users<i class="material-icons arrow">keyboard_arrow_right</i></a>
					<ul class="sub-links drop-content">
						<li><a href="#">Add User</a></li>
						<li><a href="#">View All Users</a></li>
					</ul>
				</li>
				<li class="drop-link"><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">description</i>Pages<i class="material-icons arrow">keyboard_arrow_right</i></a>
					<ul class="sub-links drop-content">
						<li><a href="#">Add Page</a></li>
						<li><a href="#">View All Pages</a></li>
					</ul>
				</li>
				<li class="drop-link"><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">comment</i>Comments<i class="material-icons arrow">keyboard_arrow_right</i></a>
					<ul class="sub-links drop-content">
						<li><a href="#">View All Comments</a></li>
					</ul>
				</li>
				<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">list</i>Forms</a></li>
				<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">view_module</i>Tables</a></li>
				<li class="drop-link"><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">email</i>Mail<i class="material-icons arrow">keyboard_arrow_right</i></a>
					<ul class="sub-links drop-content">
						<li><a href="#">Inbox</a></li>
						<li><a href="#">Sent</a></li>
					</ul>
				</li>
				<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">mic</i>Media</a></li>
			</ul>
			<ul class="page">
				<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">home</i>Home</a></li>
				<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">build</i>Skills</a></li>
				<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">work</i>Experiance</a></li>
				<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">book</i>Education</a></li>
				<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">apps</i>Portfolio</a></li>
				<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">receipt</i>Projects</a></li>
				<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">code</i>Tutorials</a></li>
				<li><a href="/blog" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">chrome_reader_mode</i>Blog</a></li>
				<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">call</i>Contact</a></li>
			</ul>
		</div>
	</div>

	<div class="nav__sm-nav">
		<ul class="admin">
			<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class=" material-icons">dashboard</i></a></li>
			<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">library_books</i></a></li>
			<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">supervisor_account</i></a></li>
			<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">description</i></a></li>
			<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">comment</i></a></li>
			<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">list</i></a></li>
			<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">view_module</i></a></li>
			<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">email</i></a>
			</li>
			<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">mic</i></a></li>
		</ul>
		<ul class="page">
			<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">home</i></a></li>
			<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">build</i></a></li>
			<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">work</i></a></li>
			<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">book</i></a></li>
			<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">apps</i></a></li>
			<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">receipt</i></a></li>
			<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">code</i></a></li>
			<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">chrome_reader_mode</i></a></li>
			<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class="material-icons">call</i></a></li>
		</ul>
	</div>

</div>
