
<div class="side-nav">
  <div class="profile">

  </div>
  <ul class="main-menu">
    <li class="main-list"><a href="#" class="main-links"><i class="fa fa-th-large" aria-hidden="true"></i> Dashboard</a></li>
    <li class="main-list"><a class="main-links" href="#"><i class="fa fa-file-text" aria-hidden="true"></i> Pages</a>
      <ul class="sub-list">
        <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Page</a></li>
        <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> View All Pages</a></li>
      </ul>
    </li>
    <li class="main-list"><a class="main-links" href="#"><i class="fa fa-bookmark" aria-hidden="true"></i> Posts</a>
      <ul class="sub-list">
        <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Post</a></li>
        <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> View All Posts</a></li>
      </ul>
    </li>
    <li class="main-list"><a class="main-links" href="#"><i class="fa fa-user" aria-hidden="true"></i> Users</a>
      <ul class="sub-list">
        <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add User</a></li>
        <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> View All Users</a></li>
      </ul>
    </li>
    <li class="main-list"><a class="main-links" href="#"><i class="fa fa-comment" aria-hidden="true"></i> Comments</a>
      <ul class="sub-list">
        <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> View All Comments</a></li>
      </ul>
    </li>
  </ul>
</div>
