<div class="top-nav">
	<ul>
		<li><a href="#">View Page</a></li>
	</ul>
</div>
<div class="form-wrapper">
	<div class="container-fluit">
		<div class="row">
			<div class="col-sm-12 col-md-8">
				<div class="post-form">
					<h1 class="title title--medium">Add Post</h1>
					<form class="" action="index.html" method="post">
						<div class="form-group">
						  <label for="title">Title</label>
						  <input type="text" class="form-control" id="" placeholder="">
						</div>
						<div class="form-group">
							<label for="title">Author</label>
							<input type="text" class="form-control" id="" placeholder="">
						</div>
						<div class="form-group">
							<label for="title">Tags</label>
							<input type="text" class="form-control" id="" placeholder="">
						</div>
						<div class="form-group">
							<label for="title">Content</label>
							<textarea name="name" rows="20" class="form-control" cols="80"></textarea>
						</div>
						<div class="form-group">
							<button type="button" class="btn btn-primary">Add Post</button>
						</div>
					</form>
				</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="post-widget">

				</div>
				<div class="post-widget">

				</div>
				<div class="post-widget">

				</div>
			</div>
		</div>
	</div>
</div>
<div class="side-nav" id="side-nav">
  <div class="profile">

  </div>
  <ul class="main-menu">
    <li class="main-list"><a href="#" class="main-links"><i class="fa fa-th-large" aria-hidden="true"></i> Dashboard</a></li>
    <li class="main-list dropdown active"><a class="main-links" href="#"><i class="fa fa-file-text" aria-hidden="true"></i> Pages <div class="arrow-down" id="arrow-down"><img src="assets/images/arrow-down.svg" alt=""></div></a>
      <ul class="drop-item" id="drop-item">
        <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Page</a></li>
        <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> View All Pages</a></li>
      </ul>
    </li>
    <li class="main-list dropdown"><a class="main-links" href="#"><i class="fa fa-bookmark" aria-hidden="true"></i> Posts <div class="arrow-down" id="arrow-down"><img src="assets/images/arrow-down.svg" alt=""></div></a>
      <ul class="drop-item" id="drop-item">
        <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Post</a></li>
        <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> View All Posts</a></li>
      </ul>
    </li>
    <li class="main-list dropdown"><a class="main-links" href="#"><i class="fa fa-user" aria-hidden="true"></i> Users <div class="arrow-down" id="arrow-down"><img src="assets/images/arrow-down.svg" alt=""></div></a>
      <ul class="drop-item" id="drop-item">
        <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add User</a></li>
        <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> View All Users</a></li>
      </ul>
    </li>
    <li class="main-list dropdown"><a class="main-links" href="#"><i class="fa fa-comment" aria-hidden="true"></i> Comments <div class="arrow-down" id="arrow-down"><img src="assets/images/arrow-down.svg" alt=""></div></a>
      <ul class="drop-item" id="drop-item">
        <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> View All Comments</a></li>
      </ul>
    </li>
  </ul>
</div>
