.form-wrapper {
	width: 87%;
	height: auto;
	float: right;
	padding: 20px;
	margin-top: 50px;

	.post-form {
		height: 890px;
		padding: 30px;
		background: #fff;
	}

	.post-widget {
		height: 283px;
		background: #fff;
		margin-bottom: 20px;
	}
}
