
<div class="blog">
	<div class="row">
		<div class="col s12 m6">
			<div class="card medium">
				<div class="card-image">
					<img src="assets/images/laptop2.jpg">
				</div>
				<div class="card-content">
					<h1 class="title">This is title for this beautiful card</h1>
					<p>I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information.</p>
				</div>
				<div class="card-action">
					<a href="#">Read More</a>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card medium">
				<div class="card-image">
					<img src="assets/images/laptop2.jpg">
				</div>
				<div class="card-content">
					<h1 class="title">This is title for this beautiful card</h1>
					<p>I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information.</p>
				</div>
				<div class="card-action">
					<a href="#">Read More</a>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card medium">
				<div class="card-image">
					<img src="assets/images/laptop2.jpg">
				</div>
				<div class="card-content">
					<h1 class="title">This is title for this beautiful card</h1>
					<p>I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information.</p>
				</div>
				<div class="card-action">
					<a href="#">Read More</a>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card medium">
				<div class="card-image">
					<img src="assets/images/laptop2.jpg">
				</div>
				<div class="card-content">
					<h1 class="title">This is title for this beautiful card</h1>
					<p>I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information.</p>
				</div>
				<div class="card-action">
					<a href="#">Read More</a>
				</div>
			</div>
		</div>
	</div>
</div>
