<div class="blog">
	<div class="row">
		<div class="col s12 m6">
			<div class="card small">
			<!-- Card Content -->
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card small">
			<!-- Card Content -->
			</div>
		</div>
	</div>
</div>
