
<div class="blog">
	<div class="row">
		{{# each blog}}
		<div class="col s12 m6 l4">
			<div class="card medium">
				<div class="card-image">
					<img src="/assets/images/laptop2.jpg">
				</div>
				<div class="card-content">
					<h1 class="title">{{this.title}}</h1>
					<p>{{this.content}}</p>
				</div>
				<div class="card-action">
					<a href="#">Read More</a>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</div>
