<div class="row">
	<div class="col s12">
		<table class="table table-white table-border table-hover responsive-table centered">
			 <thead>
				 <tr>
						 <th>No</th>
						 <th>Title</th>
						 <th>Author</th>
						 <th>Date</th>
						 <th>Category</th>
						 <th>Status</th>
						 <th>Comments</th>
						 <th>Shared</th>
						 <th>Liked</th>
						 <th>View</th>
						 <th>Edit</th>
						 <th>Delete</th>
				 </tr>
			 </thead>

			 <tbody>
				 <tr>
					 <td>1</td>
					 <td>Functional Programming</td>
					 <td>Hasrat Sabit</td>
					 <td>12/23/2018</td>
					 <td>JavaScript</td>
					 <td>Published</td>
					 <td>33</td>
					 <td>43</td>
					 <td>650</td>
					 <td><a href="#">View Post</a></td>
					 <td><a href="#">Edit</a></td>
					 <td><a href="#">Delete</a></td>
				 </tr>
				 <tr>
					 <td>1</td>
					 <td>Functional Programming</td>
					 <td>Hasrat Sabit</td>
					 <td>12/23/2018</td>
					 <td>JavaScript</td>
					 <td>Published</td>
					 <td>33</td>
					 <td>43</td>
					 <td>650</td>
					 <td><a href="#">View Post</a></td>
					 <td><a href="#">Edit</a></td>
					 <td><a href="#">Delete</a></td>
				 </tr>
				 <tr>
					 <td>1</td>
					 <td>Functional Programming</td>
					 <td>Hasrat Sabit</td>
					 <td>12/23/2018</td>
					 <td>JavaScript</td>
					 <td>Published</td>
					 <td>33</td>
					 <td>43</td>
					 <td>650</td>
					 <td><a href="#">View Post</a></td>
					 <td><a href="#">Edit</a></td>
					 <td><a href="#">Delete</a></td>
				 </tr>
			 </tbody>
		 </table>
	</div>
</div>
